.btn-outline-success {
    background-color: #A3CB38;
    color: white;
    border-radius: 10px;
    border: white
}

.btn-outline-success:hover {
    background-color: white;
    color: #A3CB38;
    font-weight: bold;

}
.images{
    background-color: white;
    // max-height: 50%;
    padding: 10px;
    
    
}