<main>
  <div class="content">
    <div class="card container card-body rounded shadow" style="width: 60rem; margin-top: 2rem; height:  36rem;">
      <!-- =========Navigation========= -->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#A3CB38">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Product</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="product-list">Product list </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="add-product">Add Product </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="product-details">Product Details</a>
              </li> -->

              <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
            </ul>
            <!-- <form class="d-flex"> -->
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-success" type="submit" routerLink="product-list">Search</button> -->
            <!-- </form> -->
          </div>
        </div>
      </nav>
      <!-- =========Routing========= -->
      <router-outlet></router-outlet>
    </div>
  </div>
</main>